body {
    color: #212121;
}

.container {
    margin: 3rem;
}

.reminders, .courses {
    display: flex;
    flex-flow: column nowrap;
}

.bar, .reminder, .course {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.bar {
    background-color: #E0E0E0;
    border-radius: 3px;
    font-size: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reminder, .course {
    background-color: #EEEEEE;
}

.bar button {
    background: none;
    border: none;
    outline: none;
}

