{% load static %}

<!-- files header -->
<div class="d-flex justify-content-between">
    <div>
        <h2>
            <span class="material-icons-outlined fs-2">
                folder
            </span>
        Files
    </h2>
    </div>
    <div>
        <button type="button" class="btn btn-link text-black" data-bs-toggle="modal" data-bs-target="#newFileModal">
            <span class="material-icons-outlined fs-2">add</span>
        </button>
        {% include 'assistor/modals/file_new_modal.html' with form=file_form %}
    </div>
</div>