<div class="modal fade" id="newCourseModal" tabindex="-1" aria-labelledby="newCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="newCourseModalLabel">
            <span class="material-icons-outlined fs-2">
                subject
            </span>
            New Course
          </h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form name="newCourseForm">
                {% csrf_token %}

                <div id="errors" class="mb-3">
                    {{ form.errors }}
                </div>
        
                <div class="mb-3">
                    <label for="{{ form.title.id_for_label }}" class="col-form-label">{{ form.title.label }}:</label>
                    {{ form.title }}
                </div>
                
                <div class="mb-3">
                    <label for="{{ form.start_date.id_for_label }}" class="col-form-label">{{ form.start_date.label }}:</label>
                    {{ form.start_date }}
                </div>
        
                <div class="mb-3">
                    <label for="{{ form.completion_date.id_for_label }}" class="col-form-label">{{ form.completion_date.label }}:</label>
                    {{ form.completion_date}}
                </div>
        
                <div class="mb-3">
                    <label for="{{ form.grade.id_for_label }}" class="col-form-label">{{ form.grade.label }}:</label>
                    {{ form.grade }}
                </div>
        
                <div class="mb-3">
                    <label for="{{ form.provider.id_for_label }}" class="col-form-label">{{ form.provider.label }}:</label>
                    {{ form.provider }}
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button id="addCourseButton" name="submit" type="submit" form="newCourseForm" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
</div>