{% extends 'assistor/layout.html' %}
{% load static %}

{% block title %}
    Course
{% endblock %}
{% block main %}
<div class="container mt-5 mb-5 overflow-hidden">
    <!-- course header -->
    {% include 'assistor/snippets/course_header_snippet.html' %}

    <section class="mb-5">
        <!-- notes header -->
        <div class="d-flex justify-content-between">
            <div>
                <h2>
                    <span class="material-icons-outlined fs-2">
                        description
                    </span>
                Notes
            </h2>
            </div>
            <div>
                <button type="button" class="btn btn-link text-black" data-bs-toggle="modal" data-bs-target="#newNoteModal">
                    <span class="material-icons-outlined fs-2">add</span>
                </button>
                {% include 'assistor/modals/note_new_modal.html' with form=note_form %}
                <script src="{% static 'assistor/js/note.js' %}"></script>
            </div>
        </div>

        <!-- list of notes -->
        <div id="notes" class="row">
            {% for note in notes %}
            <div class="col-sm-3">
                {% url 'note' course.id note.id as note_url %}
                {% include 'assistor/snippets/card.html' with background_color='bg-light-orange' text_color='text-orange' title=note.title url=note_url %}
              </div>
            {% endfor %}
        </div>

        <!-- show view all -->
        {% if notes.count == 4 %}
        <div class="d-flex justify-content-end m-3">
            <div><a href="{% url 'notes' course.id %}" class="link-secondary">View all</a></div>
        </div>
        {% endif %}
    </section>

    <section id="files" class="mb-5">
        <!-- files header -->
        <div class="d-flex justify-content-between">
            <div>
                <h2>
                    <span class="material-icons-outlined fs-2">
                        folder
                    </span>
                Files
            </h2>
            </div>
            <div>
                <a href="{% url 'file_new' course.id %}"><button type="button" class="btn btn-link text-black"><span class="material-icons-outlined fs-2">add</span></button></a>
            </div>
        </div>

        <!-- list of files -->
        <div class="row">
            {% for file in files %}
            <div class="col-sm-3">
                {% url 'file' course.id file.id as file_url %}
                {% include 'assistor/snippets/card.html' with background_color='bg-light-brown' text_color='text-brown' title=file.name url=file_url %}
              </div>
            {% endfor %}
        </div>

        <!-- show view all -->
        {% if files.count == 4 %}
        <div class="d-flex justify-content-end m-3">
            <div><a href="{% url 'files' course.id %}" class="link-secondary">View all</a></div>
        </div>
        {% endif %}
    </section>

    <section id="instructors" class="mb-5">
        <!-- instructors header -->
        <div class="d-flex justify-content-between">
            <div>
                <h2>
                    <span class="material-icons-outlined fs-2">
                        people
                    </span>
                Instructors
            </h2>
            </div>
            <div>
                <a href="{% url 'instructor_new' course.id %}"><button type="button" class="btn btn-link text-black"><span class="material-icons-outlined fs-2">add</span></button></a>
            </div>
        </div>

        <!-- list of instructors -->
        <div class="row">
            {% for instructor in instructors %}
            <div class="col-sm-12 mb-3">
                <div class="card bg-light-green text-green clickable">
                    <div class="card-body">
                      <h5 class="card-title">{{ instructor.get_title_display }} {{ instructor.first_name }} {{ instructor.last_name }}</h5>
                      <a href="mailto:{{ instructor.email }}" class="stretched-link">{{ instructor.email }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="links" class="mb-5">
        <!-- links header -->
        <div class="d-flex justify-content-between">
            <div>
            <h2>
                <span class="material-icons-outlined fs-2">
                    link
                </span>
                Links
            </h2>
            </div>
            <div>
                <a href="{% url 'link_new' course.id %}"><button type="button" class="btn btn-link text-black"><span class="material-icons-outlined fs-2">add</span></button></a>
            </div>
        </div>

        <!-- list of instructors -->
        <div class="row">
            {% for link in links %}
            <div class="col-sm-12 mb-3">
                <div class="card bg-light-cyan text-cyan clickable">
                    <div class="card-body">
                        <h5 class="card-title">{{ link.name }}</h5>
                      <a href="{{ link.url }}" class="stretched-link" target="blank">{{ link.url }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}