{% extends 'assistor/layout.html' %}
{% load static %}

{% block title %}
Files
{% endblock %}

{% block main %}
    <div class="container mt-5 mb-5">
        <!-- files header -->
        <div class="d-flex justify-content-between">
            <div>
                <h2>
                    <span class="material-icons-outlined fs-2">
                        folder
                    </span>
                Files
            </h2>
            </div>
            <div>
                <button type="button" class="btn btn-link text-black" data-bs-toggle="modal" data-bs-target="#newFileModal">
                    <span class="material-icons-outlined fs-2">add</span>
                </button>
                {% include 'assistor/modals/file_new_modal.html' with form=file_form %}
                <script src="{% static 'assistor/js/file.js' %}"></script>
            </div>
        </div>

        <!-- list of files -->
        <div class="row">
            {% for file in files %}
            <div class="col-sm-3">
                {% url 'file' course.id file.id as file_url %}
                {% include 'assistor/snippets/card.html' with background_color='bg-light-brown' text_color='text-brown' title=file.name url=file_url %}
              </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}