{% extends 'assistor/layout.html' %}

{% block title %}
    New File
{% endblock %}

{% block main %}
    {% include 'assistor/snippets/course_header_snippet.html' %}
    
    <!-- form adding a new file -->
    <form class="row g-3 p-4 mx-auto shadow rounded" action="{% url 'file_new' course.id %}" method="POST" enctype="multipart/form-data">
        {% include 'assistor/snippets/form_header_snippet.html' with header_icon="insert_drive_file" header_name="New File" %}
        
        {% csrf_token %}
        <div class="col-md-6">
            {{ form.errors }}
        </div>

        <div class="col-md-12">
            <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}:</label>
            {{ form.name }}
        </div>

        <div class="col-md-12">
            <label for="{{ form.category.id_for_label }}" class="form-label">{{ form.category.label }}:</label>
            {{ form.category }}
        </div>

        <div class="col-md-12">
            <label for="{{ form.file.id_for_label }}" class="form-label">{{ form.file.label }}:</label>
            {{ form.file }}
        </div>
        
        <div class="col-md-2 mx-auto">
            <input class="btn btn-primary" type="submit" value="Add">
        </div>
    </form>
{% endblock %}