{% extends "assistor/layout.html" %}

{% block title %}
    File
{% endblock %}

{% block main %}
    <!-- course header -->
    {% include 'assistor/snippets/course_header_snippet.html' %}

    <!-- files header -->
    {% include 'assistor/snippets/files_header_snippet.html' %}

    <!-- file header -->
    <div class="d-flex justify-content-between p-3 bg-light-brown text-brown">
        <div>
            <h3 class="text-brown">{{ file.name }}</h3>
        </div>
        <div>
            <a href="{% url 'file_delete' course.id file.id %}"><button type="button" class="btn btn-link text-danger"><span class="material-icons-outlined fs-2">delete</span></button></a>
            <a href="{% url 'file_edit' course.id file.id %}"><button type="button" class="btn btn-link text-black"><span class="material-icons-outlined fs-2">edit</span></button></a>
        </div>
    </div>

    <div class="container p-3 bg-light-brown text-brown">
        <span class="material-icons-outlined fs-1">
            insert_drive_file
            </span>
        <p>{{ file.name }}</p>
        <small class="text-muted">Uploaded on {{ file.creation_time }}</small>
        <p><a href="{{ file.file.url }}">Download</a></p>
    </div>
{% endblock %}