{% extends 'assistor/layout.html' %}

{% block title %}
Edit Course
{% endblock %}

{% block main %}
    {% include 'assistor/snippets/course_header_snippet.html' %}
    <form class="row g-3 p-4 mx-auto shadow rounded" action="{% url 'note_edit' course.id note.id %}" method="POST">
        
        {% include 'assistor/snippets/form_header_snippet.html' with header_icon="subject" header_name="Edit Note" %}
        
        {% csrf_token %}
        <div class="col-md-6">
            {{ form.errors }}
        </div>

        <div class="col-md-12">
            <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}:</label>
            {{ form.title }}
        </div>

        <div class="col-md-12">
            <label for="{{ form.provider.id_for_label }}" class="form-label">{{ form.content.label }}:</label>
            {{ form.content }}
        </div>

        <div class="col-md-2 mx-auto">
            <input class="btn btn-primary" type="submit" value="Save">
        </div>
    </form>
{% endblock %}