{% extends 'assistor/layout.html' %}
{% load static %}

{% block title %}
    Notes
{% endblock %}

{% block main %}
    <div class="container mt-5 mb-5">
        <!-- notes header -->
        <div class="d-flex justify-content-between">
            <div>
                <h2>
                    <span class="material-icons-outlined fs-2">
                        description
                    </span>
                Notes
            </h2>
            </div>
            <div>
                <button type="button" class="btn btn-link text-black" data-bs-toggle="modal" data-bs-target="#newNoteModal">
                    <span class="material-icons-outlined fs-2">add</span>
                </button>
                {% include 'assistor/modals/note_new_modal.html' with form=note_form %}
                <script src="{% static 'assistor/js/note.js' %}"></script>
            </div>
        </div>

        <!-- list of notes -->
        <div class="row">
            {% for note in notes %}
            <div class="col-sm-3 mb-4">
                {% url 'note' course.id note.id as note_url %}
                {% include 'assistor/snippets/card.html' with background_color='bg-light-orange' text_color='text-orange' title=note.title url=note_url %}
              </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}