{% extends "assistor/layout.html" %}
{% load static %}

{% block title %}
    Note
{% endblock %}

{% block main %}
    {% include "assistor/snippets/course_header_snippet.html" %}

    <!-- notes header -->
    <div class="d-flex justify-content-between">
        <div>
            <h2>
                <span class="material-icons-outlined fs-2">
                    description
                </span>
            Notes
        </h2>
        </div>
        <div>
            <button type="button" class="btn btn-link text-black" data-bs-toggle="modal" data-bs-target="#newNoteModal">
                <span class="material-icons-outlined fs-2">add</span>
            </button>
            {% include 'assistor/modals/note_new_modal.html' with form=note_form %}
        </div>
    </div>

    
    <div class="container p-3 bg-light-orange text-orange rounded">
        <!-- note header -->
        <div class="d-flex justify-content-between ">
            <div>
                <h3 class="text-orange">{{ note.title }}</h3>
            </div>
            <div>
                <a href="{% url 'note_delete' course.id note.id %}"><button type="button" class="btn btn-link text-danger"><span class="material-icons-outlined fs-4">delete</span></button></a>
                <button type="button" class="btn btn-link text-black" data-bs-toggle="modal" data-bs-target="#editNoteModal">
                    <span class="material-icons-outlined fs-2">edit</span>
                </button>
            </div>
            <input type="hidden" id="note_id" name="note_id" value="{{ note.id }}">
        </div>
    
        <!-- note content -->
        <div>
            <p>{{ note.content }}</p>
        </div>
    </div>

    
    {% include 'assistor/modals/note_edit_modal.html' with form=note_edit_form %}
    <script src="{% static 'assistor/js/note.js' %}"></script>
{% endblock %}