{% extends "assistor/layout.html" %}

{% block title %}
    Note
{% endblock %}

{% block main %}
    <!-- course header -->
    <section id="course-header" class="mb-5">
        <div class="d-flex justify-content-between">
            <div class="w-75"><h1>{{ course.title }}</h1></div>
            <div>
                <a href="{% url 'course_delete' course.id %}"><button type="button" class="btn btn-link text-danger"><span class="material-icons-outlined fs-2">delete</span></button></a>
                <a href="{% url 'course_edit' course.id %}"><button type="button" class="btn btn-link text-black"><span class="material-icons-outlined fs-2">edit</span></button></a>
            </div>
        </div>
        <div id="course-details">
            <div>{% if course.provider %}{{ course.provider }}{% endif %}</div>
            <div>{% if course.start_date %}{{ course.start_date }}{% endif %}{% if course.completion_date %} to {{ course.completion_date }}{% endif %}</div>
            <div>{% if course.grade %}{{ course.grade }}{% endif %}</div>
        </div>
    </section>

    <!-- notes header -->
    <div class="d-flex justify-content-between">
        <div>
            <h2>
                <span class="material-icons-outlined fs-2">
                    description
                </span>
            Notes
        </h2>
        </div>
    </div>

    <!-- note header -->
    <div class="d-flex justify-content-between p-3 bg-light-orange text-orange">
        <div>
            <h3 class="text-orange">{{ note.title }}</h3>
        </div>
        <div>
            <a href="{% url 'note_delete' course.id note.id %}"><button type="button" class="btn btn-link text-danger"><span class="material-icons-outlined fs-2">delete</span></button></a>
            <a href="{% url 'note_edit' course.id note.id %}"><button type="button" class="btn btn-link text-black"><span class="material-icons-outlined fs-2">edit</span></button></a>
        </div>
    </div>

    <!-- note content -->
    <div class="container p-3 bg-light-orange text-orange">
        <p>{{ note.content }}</p>
    </div>
{% endblock %}