{% extends 'assistor/layout.html' %}

{% block title %}
    New Note
{% endblock %}

{% block main %}
    <div class="container mt-5 mb-5">
        <form class="row g-3 p-4 mx-auto shadow rounded" action="{% url 'note_new' course.id %}" method="POST">
            <h2>
                <span class="material-icons-outlined fs-2">
                    description
                </span>
                New Note
            </h2>
            {% csrf_token %}
            <div class="col-md-6">
                {{ form.errors }}
            </div>
            <div class="col-md-12">
                <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}:</label>
                {{ form.title }}
            </div>
            <div class="col-md-12">
                <label for="{{ form.provider.id_for_label }}" class="form-label">{{ form.content.label }}:</label>
                {{ form.content }}
            </div>
            <div class="col-md-2 mx-auto">
                <input class="btn btn-primary" type="submit" value="Add">
            </div>
        </form>
    </div>
{% endblock %}