{% extends 'assistor/layout.html' %}
{% load static %}

{% block title %}
    Reminders
{% endblock %}

{% block main %}
    <!-- reminders header -->
    <div class="d-flex justify-content-between">
        <div>
            <h2>
                <span class="material-icons-outlined fs-2">
                    insert_invitation
                </span>
            Reminders
        </h2>
        </div>
        <div>
            <a href="{% url 'reminder_new' %}"><button type="button" class="btn btn-link text-black"><span class="material-icons-outlined fs-2">add</span></button></a>
        </div>
    </div>

    <!-- list of reminders -->
    <div class="row">
        {% for reminder in reminders %}
        <div class="col-sm-3 mb-4">
            {% url 'reminder' reminder.id as reminder_url %}
            {% include "assistor/snippets/card.html" with background_color="bg-light-teal" text_color="text-teal" title=reminder.name text=reminder.time url=reminder_url %}
        </div>
        {% endfor %}
    </div>
{% endblock %}